.cart_desktop_page form {
  margin-bottom: 0; }

/*Cart Mobile*/
.cart-mobile .header-cart {
  padding: 10px 0; }

.cart-mobile .title-cart {
  line-height: 10px; }
  .cart-mobile .title-cart h3 {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin: 0;
    float: left; }
  .cart-mobile .title-cart a {
    margin-top: 0px !important; }

.cart-mobile .header-cart-content {
  margin-top: 0px;
  padding: 10px; }
  .cart-mobile .header-cart-content .content-product-list {
    min-height: 110px; }
    .cart-mobile .header-cart-content .content-product-list .item-product {
      min-height: 110px;
      border-bottom: solid 1px #f1f1f1;
      overflow: hidden;
      display: block;
      width: 100%;
      margin-bottom: 10px; }
    .cart-mobile .header-cart-content .content-product-list .date-tour {
      margin-bottom: 10px;
      font-size: 13px; }

.item-product-cart-mobile {
  width: 90px;
  padding-right: 0; }
  .item-product-cart-mobile img {
    max-width: 90px;
    margin-right: 0; }

.title-product-cart-mobile h3 {
  line-height: 1;
  margin: 0;
  font-weight: 500; }

.title-product-cart-mobile a {
  word-break: break-word;
  font-size: 14px;
  color: #1c1c1c; }

.title-product-cart-mobile p {
  line-height: 2;
  font-size: 14px;
  color: #898989; }

.title-product-cart-mobile span {
  color: #916841; }

.item-product-cart-mobile, .title-product-cart-mobile {
  padding-right: 5px;
  float: left; }

.title-product-cart-mobile {
  width: calc(100% - 164px); }

.select-item-qty-mobile {
  float: right;
  text-align: center;
  margin-top: 10px;
  width: 74px; }
  .select-item-qty-mobile .txt_center input {
    height: 25px;
    width: 24px;
    text-align: center;
    margin: 0px;
    padding: 0;
    position: absolute;
    left: 22px;
    min-height: 0;
    border: 1px solid #ddd;
    border-radius: 0; }
    .select-item-qty-mobile .txt_center input[type="text"][disabled] {
      border: 1px solid #ddd;
      color: #333; }

.select-item-qty-mobile > div {
  position: relative;
  width: 69px;
  height: 25px; }

.cart-mobile .select-item-qty-mobile .txt_center button.reduced.items-count.btn-minus {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  line-height: 1;
  height: 25px;
  border-style: hidden;
  background: none !important;
  color: #000;
  border: 1px solid #ddd;
  width: 24px; }

.cart-mobile .select-item-qty-mobile .txt_center button.increase.items-count.btn-plus {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  height: 25px;
  display: inline-block;
  line-height: 1;
  border-style: hidden;
  color: #fff;
  background: none !important;
  color: #000;
  border: 1px solid #ddd;
  width: 24px; }

.select-item-qty-mobile a {
  line-height: 3;
  color: #363636; }

.cart-mobile .header-cart-price {
  padding: 18px 0px;
  padding-bottom: 0; }

.cart-mobile .title-cart h3 {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 0; }

.cart-mobile .title-cart a {
  float: right;
  margin-top: -28px;
  color: #916841;
  font-size: 16px; }
  .cart-mobile .title-cart a.totals_price_mobile {
    line-height: 1.4; }

.btn-proceed-checkout-mobile {
  width: 100%;
  line-height: 27px;
  color: #fff;
  height: 40px;
  font-size: 14px;
  border: 1px solid #1c1c1c;
  background: #1c1c1c;
  text-transform: uppercase;
  border-radius: 0;
  margin-top: 10px;
  border-radius: 0;
  letter-spacing: 1.5px;
  font-weight: 400; }

.btn-proceed-continues-mobile {
  background-color: #fff !important;
  color: #1c1c1c !important;
  width: 100%;
  height: 40px;
  margin-top: 10px;
  text-transform: uppercase;
  border: 1px solid #1c1c1c;
  border-radius: 0;
  letter-spacing: 1.5px;
  font-weight: 400; }

.shopping-cart-item {
  background-color: transparent;
  padding: 15px 0;
  margin: 0; }
  .shopping-cart-item + .shopping-cart-item {
    border-top: 1px solid #f5f5f5; }
  .shopping-cart-item .col-xs-3 {
    padding-left: 0; }
    .shopping-cart-item .col-xs-3 p {
      margin: 0; }
    .shopping-cart-item .col-xs-3.img-thumnail-custom .image img {
      max-height: 180px; }
  .shopping-cart-item .col-right {
    padding-left: 0;
    display: flex;
    align-items: center;
    height: 180px; }
    @media (max-width: 1024px) {
      .shopping-cart-item .col-right {
        height: 170px; } }
    .shopping-cart-item .col-right .box-info-product {
      width: 350px;
      padding-right: 10px;
      padding-left: 10px;
      float: left; }
      @media (max-width: 1024px) {
        .shopping-cart-item .col-right .box-info-product {
          width: 270px; } }
      .shopping-cart-item .col-right .box-info-product .name {
        font-size: 14px;
        margin-bottom: 7px;
        line-height: 20px;
        font-weight: 500;
        padding-top: 0; }
        .shopping-cart-item .col-right .box-info-product .name a {
          color: #242424;
          font-weight: 500; }
          .shopping-cart-item .col-right .box-info-product .name a:hover, .shopping-cart-item .col-right .box-info-product .name a:focus {
            color: #916841;
            text-decoration: none; }
      .shopping-cart-item .col-right .box-info-product .seller-by {
        font-size: 13px;
        margin-bottom: 12px; }
      .shopping-cart-item .col-right .box-info-product .action {
        position: relative;
        padding: 0 !important;
        margin-bottom: 0;
        margin-top: 0; }
        .shopping-cart-item .col-right .box-info-product .action .btn-link {
          border: 0;
          color: #916841;
          font-size: 13px;
          position: static;
          padding: 0;
          line-height: 1.1; }
    .shopping-cart-item .col-right .box-price {
      float: left;
      width: 110px;
      padding-right: 10px; }
      .shopping-cart-item .col-right .box-price .price {
        font-size: 16px;
        margin-bottom: 5px;
        font-weight: 500;
        padding-top: 0;
        color: #916841; }
    .shopping-cart-item .col-right .quantity-block {
      width: 120px;
      float: right; }
      .shopping-cart-item .col-right .quantity-block .input-group-btn button {
        height: 28px; }
        .shopping-cart-item .col-right .quantity-block .input-group-btn button.bootstrap-touchspin-down {
          border-radius: 3px 0 0 3px;
          border: 1px solid #e5e5e5;
          border-right: 0;
          border-color: #e5e5e5;
          color: #999;
          line-height: 20px;
          padding: 3px 9px;
          margin: 0;
          width: 28px;
          background-color: #fff;
          float: right; }
        .shopping-cart-item .col-right .quantity-block .input-group-btn button.bootstrap-touchspin-up {
          border-radius: 0 3px 3px 0;
          border: 1px solid #e5e5e5;
          border-color: #e5e5e5;
          border-left: 0;
          color: #999;
          line-height: 20px;
          padding: 3px 9px;
          margin: 0;
          width: 28px;
          background-color: #fff;
          float: right; }
        .shopping-cart-item .col-right .quantity-block .input-group-btn button:focus, .shopping-cart-item .col-right .quantity-block .input-group-btn button:hover {
          outline: none;
          box-shadow: none;
          -webkit-appearance: none;
          -moz-appearance: none; }
      .shopping-cart-item .col-right .quantity-block .input-group-btn .js-quantity-product {
        display: inline-block;
        height: 28px;
        padding: 0 5px;
        text-align: center;
        border-radius: 0;
        width: 35px;
        float: right;
        min-height: 28px;
        border: 1px solid #e5e5e5;
        background-color: #fff; }

#right-affix .each-row {
  width: 100%;
  clear: both; }
  #right-affix .each-row .box-style {
    background-color: transparent;
    padding: 17px 0 21px 0; }
    #right-affix .each-row .box-style.fee .list-info-price {
      margin: 0; }
      #right-affix .each-row .box-style.fee .list-info-price span {
        font-weight: 500;
        color: #1c1c1c; }
      #right-affix .each-row .box-style.fee .list-info-price strong {
        float: right;
        font-weight: 700; }
    #right-affix .each-row .box-style.fee .total2 {
      font-weight: 500; }
      #right-affix .each-row .box-style.fee .total2 .text-label {
        margin-top: 5px;
        display: inline-block; }
      #right-affix .each-row .box-style.fee .total2 .amount {
        float: right; }
        @media (max-width: 1024px) {
          #right-affix .each-row .box-style.fee .total2 .amount {
            margin-top: 5px; } }
        #right-affix .each-row .box-style.fee .total2 .amount p {
          margin: 0;
          text-align: right;
          line-height: 1.1; }
          #right-affix .each-row .box-style.fee .total2 .amount p strong {
            color: #916841;
            font-size: 22px;
            font-weight: 700; }
            @media (max-width: 1024px) {
              #right-affix .each-row .box-style.fee .total2 .amount p strong {
                font-size: 18px; } }
          #right-affix .each-row .box-style.fee .total2 .amount p small {
            font-weight: 500; }
    #right-affix .each-row .box-style + .box-style {
      border-top: 1px solid #f4f4f4; }

#right-affix .btn-checkout {
  margin-top: 10px;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.42857;
  border-radius: 4px;
  user-select: none;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 0; }
  #right-affix .btn-checkout:hover, #right-affix .btn-checkout:focus {
    background-color: #fff;
    color: #1c1c1c;
    border-color: #1c1c1c; }

#right-affix .btn-checkouts {
  margin-top: 10px;
  padding: 0 15px;
  margin-bottom: 0;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  font-size: 14px;
  line-height: 48px;
  border-radius: 4px;
  user-select: none;
  color: #1c1c1c;
  background-color: #fff;
  border-color: #1c1c1c;
  border-radius: 0;
  height: 50px; }
  #right-affix .btn-checkouts:hover, #right-affix .btn-checkouts:focus {
    outline: none;
    box-shadow: none;
    background-color: #1c1c1c;
    border-color: #1c1c1c;
    color: #fff; }

.lbl-shopping-cart-gio-hang.lbl-shopping-cart {
  font-size: 26px;
  line-height: 28px;
  margin: 0;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2.4px;
  color: #1c1c1c; }
  @media (max-width: 767px) {
    .lbl-shopping-cart-gio-hang.lbl-shopping-cart {
      font-size: 22px; } }
  .lbl-shopping-cart-gio-hang.lbl-shopping-cart span {
    font-size: 14px;
    text-transform: none;
    font-weight: 400; }

.shopping-cart .shopping-cart-table table tbody tr .cart-product-name-info h4 a:hover,
.shopping-cart .shopping-cart-table table tbody tr .cart-product-name-info h4 a:focus {
  color: #12cca7; }

.shopping-cart .shopping-cart-table table tbody tr .cart-product-name-info .cart-product-info span span {
  color: #0b816a; }

.shopping-cart .shopping-cart-table table tbody tr .cart-product-edit a:hover,
.shopping-cart .shopping-cart-table table tbody tr .cart-product-edit a:focus {
  color: #12cca7; }

.shopping-cart .cart-shopping-total table thead tr th .cart-grand-total {
  color: #0b816a;
  margin-top: 15px; }

.shopping-cart-table table tbody tr td .quant-input .arrows .arrow:hover,
.shopping-cart-table table tbody tr td .quant-input .arrows .arrow:focus {
  color: #12cca7; }

.shopping-cart .estimate-ship-tax table tbody .unicase-form-control .dropdown-menu.open ul li a:hover,
.shopping-cart .estimate-ship-tax table tbody .unicase-form-control .dropdown-menu.open ul li a:focus {
  color: #12cca7; }

.shopping-cart .shopping-cart-table {
  margin-bottom: 10px; }

.shopping-cart .shopping-cart-table table {
  margin-bottom: 0px !important; }

.shopping-cart .shopping-cart-table table tbody tr td {
  vertical-align: middle; }

.shopping-cart .cart-image img {
  width: 150px; }

.cart-shopping-total {
  background: #f8f8f8; }

.shopping-cart .shopping-cart-table table tbody tr .romove-item a {
  font-size: 18px;
  color: #666666; }

.shopping-cart .shopping-cart-table table tbody tr .romove-item a:hover,
.shopping-cart .shopping-cart-table table tbody tr .romove-item a:focus {
  color: #fff000 !important; }

.shopping-cart .shopping-cart-table table tbody tr .cart-image .entry-thumbnail {
  display: block;
  text-align: center; }

.shopping-cart .shopping-cart-table table tbody tr .cart-product-name-info {
  vertical-align: middle !important; }

.shopping-cart .shopping-cart-table table tbody tr .cart-product-name-info h4 {
  margin-top: 0px;
  font-size: 16px; }

.shopping-cart .shopping-cart-table table tbody tr .cart-product-name-info h4 a {
  color: #555; }

.shopping-cart .shopping-cart-table table tbody tr .cart-product-name-info .reviews {
  font-size: 11px;
  color: #aaa; }

.shopping-cart .shopping-cart-table table tbody tr .cart-product-name-info .cart-product-info {
  margin-top: 10px; }

.shopping-cart .shopping-cart-table table tbody tr .cart-product-name-info .cart-product-info span {
  font-size: 12px;
  color: #666666;
  text-transform: uppercase; }

.shopping-cart .shopping-cart-table table tbody tr .cart-product-name-info .cart-product-info span span {
  font-size: 12px;
  text-transform: lowercase;
  margin-left: 14px; }

.shopping-cart .shopping-cart-table table tbody tr .cart-product-edit a {
  color: #666666;
  text-decoration: underline; }

.shopping-cart .shopping-cart-table .table > thead > tr > th {
  text-align: center;
  padding: 16px;
  font-size: 15px; }

.shopping-cart .shopping-cart-table .shopping-cart-btn span {
  padding: 20px 0px;
  display: block; }

.shopping-cart .estimate-ship-tax table thead tr th .estimate-title {
  font-size: 14px;
  color: #555;
  margin-bottom: 2px;
  margin-top: 0px;
  display: block; }

.shopping-cart .estimate-ship-tax table thead tr th p {
  font-size: 13px;
  color: #666666;
  font-weight: normal;
  margin-bottom: 0px; }

.shopping-cart .estimate-ship-tax table thead tr > th {
  padding: 24px 10px 20px 10px; }

.shopping-cart .estimate-ship-tax table tbody tr > td {
  padding: 24px 10px !important; }

.shopping-cart .estimate-ship-tax table tbody .unicase-form-control .selectpicker {
  background: #fff;
  color: #999;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #eee; }

.shopping-cart .estimate-ship-tax table tbody .unicase-form-control .dropdown-menu.open ul li a:hover,
.shopping-cart .estimate-ship-tax table tbody .unicase-form-control .dropdown-menu.open ul li a:focus {
  background: transparent; }

.shopping-cart .cart-shopping-total table thead tr th {
  background-color: #fafafa;
  text-align: right;
  padding: 10px 15px;
  border: none; }

.shopping-cart .cart-shopping-total table thead tr th .cart-sub-total {
  color: #555;
  margin-bottom: 7px; }

.shopping-cart .cart-shopping-total table tbody tr td {
  padding: 10px 15px; }

.shopping-cart .cart-shopping-total table tbody tr td .cart-checkout-btn button {
  float: right !important;
  margin-bottom: 8px; }

.shopping-cart .cart-shopping-total table tbody tr td .cart-checkout-btn span {
  display: block;
  font-weight: normal;
  color: #666666; }

.shopping-cart .shopping-cart-table table tbody tr .romove-item,
.shopping-cart .shopping-cart-table table tbody tr .cart-product-edit,
.shopping-cart .shopping-cart-table table tbody tr .cart-product-sub-total,
.shopping-cart .shopping-cart-table table tbody tr .cart-product-grand-total,
.shopping-cart .shopping-cart-table table tbody tr .cart-product-quantity {
  text-align: center; }

.shopping-cart .shopping-cart-table table tbody tr .cart-product-sub-total span,
.shopping-cart .shopping-cart-table table tbody tr .cart-product-grand-total span {
  display: block;
  font-size: 16px;
  color: #555;
  text-transform: uppercase; }

.shopping-cart .estimate-ship-tax table tbody tr td .form-group label,
.shopping-cart .estimate-ship-tax table tbody tr td .form-group input,
.blog-page .blog-write-comment .form-group label,
.blog-page .blog-write-comment .form-group input,
.contact-page .contact-form form label,
.contact-page .contact-form form input {
  font-size: 13px;
  font-weight: normal;
  color: #999; }

.contact-page .contact-form form label {
  font-weight: 600; }

.shopping-cart .estimate-ship-tax table tbody tr td .form-group label span,
.blog-page .blog-write-comment label span,
.contact-page .contact-form form label span,
.checkout-box .checkout-steps .checkout-step-01 .already-registered-login form .form-group label span {
  color: red; }

.shopping-cart .cart-shopping-total table thead tr th .cart-sub-total,
.shopping-cart .cart-shopping-total table thead tr th .cart-grand-total {
  font-size: 16px; }

.shopping-cart-table table tbody tr td .quant-input {
  display: inline-block;
  height: 35px;
  position: relative;
  width: 70px; }

.shopping-cart-table table tbody tr td .quant-input .arrows {
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2; }

.shopping-cart-table table tbody tr td .quant-input .arrows .arrow {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  text-align: center;
  width: 40px; }

.shopping-cart-table table tbody tr td .quant-input .arrows .arrow .ir .icon.fa-sort-asc {
  top: 5px; }

.shopping-cart-table table tbody tr td .quant-input .arrows .arrow .ir .icon.fa-sort-desc {
  top: -7px; }

.shopping-cart-table table tbody tr td .quant-input .arrows .arrow .ir .icon {
  position: relative; }

.shopping-cart-table table tbody tr td .quant-input input {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #F2F2F2;
  box-sizing: border-box;
  font-size: 15px;
  height: 35px;
  left: 0;
  padding: 0 20px 0 18px;
  position: absolute;
  top: 0;
  width: 70px;
  z-index: 1; }

.shopping-cart .col-main .cart .bg-scroll {
  border-top: none;
  margin-top: 20px;
  overflow: hidden;
  border-top: none;
  border-bottom: none;
  border-right: none; }

.shopping-cart .col-main .cart .cart-thead {
  background: #fbfbfb;
  font-weight: bold;
  font-size: 13px;
  clear: both;
  width: 100%;
  border-bottom: 1px solid #ebebeb;
  border-right: none;
  border-left: none;
  float: left;
  min-width: 600px; }
  .shopping-cart .col-main .cart .cart-thead div {
    float: left;
    padding: 10px 0px;
    color: #333;
    text-align: center;
    font-size: 13px; }

.shopping-cart .col-main .cart .cart-tbody {
  width: 100%;
  float: left; }
  .shopping-cart .col-main .cart .cart-tbody .item-cart {
    border-bottom: 1px solid #ebebeb;
    width: 100%;
    float: left; }
    .shopping-cart .col-main .cart .cart-tbody .item-cart div {
      float: left;
      padding: 20px 10px 6px;
      line-height: 20px;
      vertical-align: top;
      height: 135px;
      overflow: hidden; }
      .shopping-cart .col-main .cart .cart-tbody .item-cart div .product-name {
        margin: 0px;
        padding-bottom: 0px;
        font-size: 15px;
        font-weight: normal;
        line-height: 24px;
        margin-top: 10%; }
      .shopping-cart .col-main .cart .cart-tbody .item-cart div .price {
        font-size: 16px;
        font-weight: bold;
        line-height: 6;
        color: #916841; }
      .shopping-cart .col-main .cart .cart-tbody .item-cart div .input_qty_pr {
        height: auto;
        border-right: none;
        width: 100%;
        margin-top: 15px;
        padding: 20px 0px 0px 0px; }
        .shopping-cart .col-main .cart .cart-tbody .item-cart div .input_qty_pr .items-count {
          border: 1px solid #ddd;
          outline: none;
          background: #fff;
          height: 24px;
          width: 24px;
          vertical-align: baseline;
          text-align: center;
          padding: 0;
          display: inline-block;
          margin: 0; }
      .shopping-cart .col-main .cart .cart-tbody .item-cart div:nth-child(6) {
        padding: 10px 0 6px;
        position: relative; }
      .shopping-cart .col-main .cart .cart-tbody .item-cart div a.remove-item span {
        display: none; }
      .shopping-cart .col-main .cart .cart-tbody .item-cart div a.remove-item {
        background-color: #fff;
        background-image: url(../../../../bizweb.dktcdn.net/100/177/134/themes/235073/assets/binb20f.png?1487919147709);
        width: 22px;
        height: 26px;
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%); }
    .shopping-cart .col-main .cart .cart-tbody .item-cart .product-image {
      min-height: 75px;
      display: block;
      height: auto;
      width: 100%;
      padding: 0 20px; }
      .shopping-cart .col-main .cart .cart-tbody .item-cart .product-image img {
        max-width: 100%;
        height: auto;
        max-height: 98px;
        width: auto;
        display: inherit;
        margin: 0 auto; }
    .shopping-cart .col-main .cart .cart-tbody .item-cart .number-sidebar {
      min-height: 0;
      position: static;
      display: inline-block;
      float: none;
      margin-bottom: 0;
      border: 1px solid #ddd;
      height: 24px;
      margin-left: -1px;
      text-align: center;
      width: 23px;
      margin-right: -1px;
      padding: 0;
      line-height: 15px; }

.shopping-cart .col-main .cart .variant-title {
  color: #686868; }

.shopping-cart .col-main .cart .totals .inner {
  padding: 0px 0 15px;
  margin-top: 0;
  margin-right: 1px; }

.shopping-cart .col-main .cart #shopping-cart-totals-table {
  width: 100%;
  padding-bottom: 8px;
  background: #fff; }
  .shopping-cart .col-main .cart #shopping-cart-totals-table tr td {
    border: #ebebeb thin solid;
    border-top: none;
    border-bottom: none;
    padding: 20px; }
    .shopping-cart .col-main .cart #shopping-cart-totals-table tr td.a-right {
      width: 231px;
      border-left: 1px solid #ebebeb; }

.shopping-cart .col-main .cart ul.checkout {
  clear: left;
  padding: 20px;
  border: 1px solid #ebebeb;
  margin-bottom: 30px; }

.shopping-cart .col-main .cart .btn-proceed-checkout {
  background: #916841;
  line-height: 20px;
  color: #fff;
  height: 40px;
  font-size: 16px;
  border: none;
  text-transform: uppercase; }

.shopping-cart .col-main .cart span.totals_price.price {
  color: #916841;
  font-size: 16px; }

.shopping-cart .col-main .cart .btn.btn-white {
  margin-right: 10px; }
  .shopping-cart .col-main .cart .btn.btn-white:hover, .shopping-cart .col-main .cart .btn.btn-white:focus {
    background-color: #916841;
    border-color: #916841; }

.cart-empty img {
  max-width: 200px; }

.cart-empty .btn-cart-empty {
  margin-top: 20px;
  text-align: center; }
  .cart-empty .btn-cart-empty a {
    color: #fff;
    background: #1c1c1c;
    border-color: #1c1c1c;
    border-radius: 0px !important;
    text-transform: uppercase;
    display: inline-block;
    padding: 15px 30px;
    line-height: 1.1;
    height: auto; }
    .cart-empty .btn-cart-empty a:hover {
      background-color: #916841;
      border-color: #916841;
      color: #fff; }

@media (max-width: 991px) {
  .cart-mobile .select-item-qty-mobile > div {
    width: 74px; }
  .cart-mobile .select-item-qty-mobile .txt_center button.reduced.items-count.btn-minus, .cart-mobile .select-item-qty-mobile .txt_center button.increase.items-count.btn-plus {
    width: 25px !important;
    padding: 1px 0; }
  .cart-mobile .select-item-qty-mobile .txt_center input {
    border-left: none;
    border-right: none;
    left: 25px;
    background-color: #fff; } }
