@-webkit-keyframes shopTheLookDotKeyframe {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes shopTheLookDotKeyframe {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0; }
  100% {
    background-position: 468px 0; } }

.animated-background, .section_blogs a .evo-article-image.lazyload {
  animation-duration: 1.25s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #F6F6F6;
  background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
  background-size: 700px 104px;
  position: relative; }

@media (min-width: 768px) {
  .line-clamp {
    position: relative;
    height: 43px;
    /* exactly three lines */
    overflow: hidden;
    display: block; }
  .line-clamp:after {
    content: "";
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20%;
    height: 22px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white 50%); }
  @supports (-webkit-line-clamp: 2) {
    .line-clamp {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      max-height: 43px;
      /* I needed this to get it to work */
      height: auto;
      min-height: 43px; }
    .line-clamp:after {
      display: none; } } }

.home-slider.owl-carousel .owl-nav {
  display: none !important; }

.home-slider.owl-carousel .owl-dots .owl-dot {
  background-color: rgba(255, 255, 255, 0.7);
  height: 7px;
  width: 7px; }
  .home-slider.owl-carousel .owl-dots .owl-dot.active {
    height: 7px;
    width: 20px; }

.section_product {
  padding: 40px 0 0;
  text-align: center; }
  .section_product .section-head {
    margin-bottom: 30px; }
    .section_product .section-head .title_blog {
      font-size: 26px;
      line-height: 28px;
      margin: 0;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 2.4px; }
      @media (max-width: 767px) {
        .section_product .section-head .title_blog {
          font-size: 22px;
          letter-spacing: 2px; } }
      .section_product .section-head .title_blog a {
        color: #1c1c1c; }
        .section_product .section-head .title_blog a strong {
          font-weight: 500; }
        .section_product .section-head .title_blog a:hover, .section_product .section-head .title_blog a:focus {
          color: #916841; }
    .section_product .section-head .viewallcat {
      margin-top: 10px; }
      .section_product .section-head .viewallcat a {
        display: inline-block;
        color: #1c1c1c;
        margin-right: 5px;
        position: relative;
        padding-right: 5px; }
        .section_product .section-head .viewallcat a:before {
          content: "/";
          color: #bfbfbf;
          position: absolute;
          right: -5px;
          top: 50%;
          transform: translate(0, -50%);
          font-size: 14px; }
        .section_product .section-head .viewallcat a:last-child:before {
          content: ""; }
        .section_product .section-head .viewallcat a:hover, .section_product .section-head .viewallcat a:focus {
          color: #916841; }
  .section_product .product-blocks .evo-owl-product.owl-carousel .owl-nav .owl-prev, .section_product .product-blocks .evo-owl-product.owl-carousel .owl-nav .owl-next {
    border: none;
    border-radius: 50%;
    background: #fff;
    color: #5c5c5c;
    cursor: pointer;
    text-align: center;
    z-index: 1;
    -webkit-box-shadow: 0 2px 10px rgba(54, 54, 54, 0.15);
    box-shadow: 0 2px 10px rgba(54, 54, 54, 0.15);
    vertical-align: middle;
    line-height: 0;
    -webkit-transform: scale(1.001);
    transform: scale(1.001);
    -webkit-transition: background 0.15s ease-in-out, opacity 0.15s ease-in-out, color 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
    transition: background 0.15s ease-in-out, opacity 0.15s ease-in-out, color 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
    transition: background 0.15s ease-in-out, opacity 0.15s ease-in-out, transform 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background 0.15s ease-in-out, opacity 0.15s ease-in-out, transform 0.2s ease-in-out, color 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
    overflow: hidden;
    height: 45px;
    width: 45px;
    stroke-width: 1px;
    position: absolute;
    line-height: 40px;
    font-size: 25px; }
  .section_product .product-blocks .evo-owl-product.owl-carousel .owl-nav .owl-next {
    right: -50px; }
    .section_product .product-blocks .evo-owl-product.owl-carousel .owl-nav .owl-next.disabled {
      opacity: 0.2 !important; }
    @media (max-width: 1024px) {
      .section_product .product-blocks .evo-owl-product.owl-carousel .owl-nav .owl-next {
        right: -20px; } }
    @media (max-width: 991px) {
      .section_product .product-blocks .evo-owl-product.owl-carousel .owl-nav .owl-next {
        right: 0; } }
  .section_product .product-blocks .evo-owl-product.owl-carousel .owl-nav .owl-prev {
    left: -50px; }
    .section_product .product-blocks .evo-owl-product.owl-carousel .owl-nav .owl-prev.disabled {
      opacity: 0.2 !important; }
    @media (max-width: 1024px) {
      .section_product .product-blocks .evo-owl-product.owl-carousel .owl-nav .owl-prev {
        left: -20px; } }
    @media (max-width: 991px) {
      .section_product .product-blocks .evo-owl-product.owl-carousel .owl-nav .owl-prev {
        left: 0; } }
  .section_product .product-blocks .evo-owl-product.owl-carousel .owl-nav .owl-prev:hover, .section_product .product-blocks .evo-owl-product.owl-carousel .owl-nav .owl-next:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  .section_product .product-blocks .evo-owl-product.owl-carousel .owl-dots {
    display: none !important; }
  @media (max-width: 767px) {
    .section_product .product-blocks .evo-owl-product.owl-carousel {
      display: block;
      margin-right: -10px;
      margin-left: -10px;
      width: auto; }
      .section_product .product-blocks .evo-owl-product.owl-carousel .product-card {
        width: 50%;
        float: left;
        padding-left: 10px;
        padding-right: 10px; }
        .section_product .product-blocks .evo-owl-product.owl-carousel .product-card:nth-child(2n+1) {
          clear: left; } }
  @media (max-width: 767px) and (max-width: 480px) {
    .section_product .product-blocks .evo-owl-product.owl-carousel {
      margin-right: -7px;
      margin-left: -7px; }
      .section_product .product-blocks .evo-owl-product.owl-carousel .product-card {
        padding-left: 7px;
        padding-right: 7px; } }
  .section_product .product-blocks .evo-owl-product.owl-carousel .product-card .product-card__inner .product-card__image {
    position: relative;
    height: 300px; }
    @media (max-width: 1024px) {
      .section_product .product-blocks .evo-owl-product.owl-carousel .product-card .product-card__inner .product-card__image {
        height: 250px; } }
    @media (max-width: 991px) {
      .section_product .product-blocks .evo-owl-product.owl-carousel .product-card .product-card__inner .product-card__image {
        height: 257px; } }
    @media (max-width: 480px) {
      .section_product .product-blocks .evo-owl-product.owl-carousel .product-card .product-card__inner .product-card__image {
        height: 213px; } }
    @media (max-width: 376px) {
      .section_product .product-blocks .evo-owl-product.owl-carousel .product-card .product-card__inner .product-card__image {
        height: 194px; } }
    @media (max-width: 321px) {
      .section_product .product-blocks .evo-owl-product.owl-carousel .product-card .product-card__inner .product-card__image {
        height: 166px; } }
    .section_product .product-blocks .evo-owl-product.owl-carousel .product-card .product-card__inner .product-card__image img {
      width: auto;
      max-height: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto; }
  .section_product .mobile-viewmore {
    margin-top: 15px; }

.section_product_5 {
  border-top: 1px solid #e7e7e7;
  margin-top: 40px;
  margin-bottom: 20px; }

.section_banner {
  padding: 40px 0 0; }
  .section_banner .evo-banner {
    position: relative;
    overflow: hidden; }
    .section_banner .evo-banner img {
      -webkit-transition: opacity 0.8s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
      transition: opacity 0.8s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
      transition: transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
      transition: transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.8s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1); }
    .section_banner .evo-banner .evo-banner-content {
      position: absolute;
      padding: 0 30px;
      margin-bottom: 0;
      top: auto;
      left: 0;
      width: 100%;
      text-align: left;
      bottom: 50px; }
      .section_banner .evo-banner .evo-banner-content h3 {
        margin-top: 0;
        font-size: 22px;
        font-weight: 400;
        letter-spacing: 3px;
        color: #fff;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.31); }
      .section_banner .evo-banner .evo-banner-content a {
        position: relative;
        display: inline-block;
        padding: 14px 28px;
        line-height: normal;
        border: 1px solid #fff;
        border-radius: 0;
        text-transform: uppercase;
        font-size: 12px;
        text-align: center;
        letter-spacing: 0.2em;
        font-weight: 400;
        font-style: normal;
        background-color: transparent;
        -webkit-transition: color 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86), border 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        transition: color 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86), border 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        z-index: 1;
        -webkit-tap-highlight-color: initial;
        color: #363636; }
        .section_banner .evo-banner .evo-banner-content a::before {
          position: absolute;
          content: '';
          display: block;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
          -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
          -webkit-transform-origin: left center;
          transform-origin: left center;
          z-index: -1;
          -webkit-transition: -webkit-transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
          transition: -webkit-transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
          transition: transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
          transition: transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86), -webkit-transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
          background-color: #fff; }
        .section_banner .evo-banner .evo-banner-content a:hover {
          color: #fff; }
          .section_banner .evo-banner .evo-banner-content a:hover::before {
            -webkit-transform-origin: right center;
            transform-origin: right center;
            -webkit-transform: scale(0, 1);
            transform: scale(0, 1); }
    .section_banner .evo-banner:hover img {
      -webkit-transform: scale(1.1);
      transform: scale(1.1); }
  @media (max-width: 767px) {
    .section_banner .evo-margin + .evo-margin {
      margin-top: 7px; } }

.section_blogs {
  padding-top: 40px;
  text-align: center; }
  .section_blogs h2 {
    margin-bottom: 30px;
    margin-top: 0;
    font-size: 26px;
    line-height: 28px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2.4px; }
    @media (max-width: 767px) {
      .section_blogs h2 {
        font-size: 22px;
        letter-spacing: 2px; } }
    .section_blogs h2 a {
      color: #1c1c1c; }
      .section_blogs h2 a strong {
        font-weight: 500; }
      .section_blogs h2 a:hover, .section_blogs h2 a:focus {
        color: #916841; }
  .section_blogs a .evo-article-image {
    position: relative;
    overflow: hidden;
    height: 182px; }
    @media (max-width: 1024px) {
      .section_blogs a .evo-article-image {
        height: 149px; } }
    @media (max-width: 991px) {
      .section_blogs a .evo-article-image {
        height: 237px; } }
    @media (max-width: 767px) {
      .section_blogs a .evo-article-image {
        height: 67px; } }
    .section_blogs a .evo-article-image img {
      -webkit-transition: opacity 0.8s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
      transition: opacity 0.8s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
      transition: transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
      transition: transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.8s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
      width: auto;
      max-height: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto; }
  .section_blogs a h3 {
    color: #1c1c1c;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.67;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: left; }
  .section_blogs a p {
    font-size: 13px;
    line-height: 25px;
    letter-spacing: 0.52px;
    margin-bottom: 0;
    color: #1c1c1c;
    text-align: left;
    word-wrap: break-word; }
  .section_blogs a:hover .evo-article-image img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  .section_blogs a:hover h3 {
    color: #916841; }
  .section_blogs a:hover p {
    color: #1c1c1c; }
  .section_blogs .mobile-viewmore {
    margin-top: 20px; }
  @media (min-width: 992px) {
    .section_blogs .news-items {
      margin-bottom: 15px; }
      .section_blogs .news-items:nth-child(4n+1) {
        clear: left; } }
  @media (max-width: 991px) {
    .section_blogs .news-items {
      margin-bottom: 15px; }
      .section_blogs .news-items:nth-child(2n+1) {
        clear: left; } }
  @media (max-width: 991px) and (max-width: 767px) {
    .section_blogs .news-items {
      margin-bottom: 0; }
      .section_blogs .news-items + .news-items {
        margin-top: 7px;
        padding-top: 7px;
        border-top: 1px solid #e5e5e5; }
      .section_blogs .news-items .evo-article-image {
        float: left;
        width: 100px;
        margin: 0 10px 0 0; }
      .section_blogs .news-items h3 {
        display: block;
        margin-top: 0;
        margin-right: 0;
        font-size: 12px;
        letter-spacing: 1.5px;
        color: #323c3f; } }

.evo-feature-product-block {
  padding: 40px 0 0;
  text-align: center; }
  @media (min-width: 1024px) {
    .evo-feature-product-block {
      background: url(../../../../file.hstatic.net/200000268089/file/ant_product_bg_6757c93d5f9a42d7974addcbc44250cb.jpg) no-repeat center bottom;
      background-size: cover;
      padding-bottom: 25px; } }
  .evo-feature-product-block .section-head {
    margin-bottom: 30px; }
    .evo-feature-product-block .section-head .title_blog {
      font-size: 26px;
      line-height: 28px;
      margin: 0;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 2.4px; }
      @media (max-width: 767px) {
        .evo-feature-product-block .section-head .title_blog {
          font-size: 22px;
          letter-spacing: 2px; } }
      .evo-feature-product-block .section-head .title_blog a {
        color: #1c1c1c; }
        .evo-feature-product-block .section-head .title_blog a strong {
          font-weight: 500; }
        .evo-feature-product-block .section-head .title_blog a:hover, .evo-feature-product-block .section-head .title_blog a:focus {
          color: #916841; }
  .evo-feature-product-block .evo-group-product-block .evo-shop-the-look {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 490px; }
    @media (max-width: 767px) {
      .evo-feature-product-block .evo-group-product-block .evo-shop-the-look {
        min-height: unset; } }
    .evo-feature-product-block .evo-group-product-block .evo-shop-the-look .evo-shop-the-look-image {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
      flex: 0 1 auto;
      position: relative; }
      .evo-feature-product-block .evo-group-product-block .evo-shop-the-look .evo-shop-the-look-image .evo-shop-the-look-dot {
        position: absolute;
        display: block;
        width: 16px;
        height: 16px;
        margin: -8px 0 0 -8px;
        background: #ffffff;
        border-radius: 100%;
        -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25);
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25);
        cursor: pointer;
        z-index: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: -webkit-transform 0.25s ease-in-out;
        transition: -webkit-transform 0.25s ease-in-out;
        transition: transform 0.25s ease-in-out;
        transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out; }
        .evo-feature-product-block .evo-group-product-block .evo-shop-the-look .evo-shop-the-look-image .evo-shop-the-look-dot::after {
          position: absolute;
          content: '';
          width: 40px;
          height: 40px;
          left: -12px;
          top: -12px;
          border-radius: 100%;
          background: rgba(255, 255, 255, 0.4);
          -webkit-animation: 1.4s shopTheLookDotKeyframe ease-in-out infinite;
          animation: 1.4s shopTheLookDotKeyframe ease-in-out infinite; }
    .evo-feature-product-block .evo-group-product-block .evo-shop-the-look .evo-shop-the-look-product {
      -webkit-box-flex: 0;
      -ms-flex: none;
      flex: none;
      width: 270px;
      margin: 0 80px; }
      @media (max-width: 991px) {
        .evo-feature-product-block .evo-group-product-block .evo-shop-the-look .evo-shop-the-look-product {
          width: 240px;
          margin: 0 50px; } }
      @media (max-width: 767px) {
        .evo-feature-product-block .evo-group-product-block .evo-shop-the-look .evo-shop-the-look-product {
          width: 47%;
          margin: 0 5px; } }
      .evo-feature-product-block .evo-group-product-block .evo-shop-the-look .evo-shop-the-look-product .product-card {
        margin-bottom: 0; }
      .evo-feature-product-block .evo-group-product-block .evo-shop-the-look .evo-shop-the-look-product .product-card .product-card__inner .product-card__image {
        position: relative;
        height: 290px; }
        @media (max-width: 1024px) {
          .evo-feature-product-block .evo-group-product-block .evo-shop-the-look .evo-shop-the-look-product .product-card .product-card__inner .product-card__image {
            height: 290px; } }
        @media (max-width: 991px) {
          .evo-feature-product-block .evo-group-product-block .evo-shop-the-look .evo-shop-the-look-product .product-card .product-card__inner .product-card__image {
            height: 260px; } }
        @media (max-width: 480px) {
          .evo-feature-product-block .evo-group-product-block .evo-shop-the-look .evo-shop-the-look-product .product-card .product-card__inner .product-card__image {
            height: 208px; } }
        @media (max-width: 376px) {
          .evo-feature-product-block .evo-group-product-block .evo-shop-the-look .evo-shop-the-look-product .product-card .product-card__inner .product-card__image {
            height: 190px; } }
        @media (max-width: 321px) {
          .evo-feature-product-block .evo-group-product-block .evo-shop-the-look .evo-shop-the-look-product .product-card .product-card__inner .product-card__image {
            height: 164px; } }
        .evo-feature-product-block .evo-group-product-block .evo-shop-the-look .evo-shop-the-look-product .product-card .product-card__inner .product-card__image img {
          width: auto;
          max-height: 100%;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto; }
  .evo-feature-product-block .evo-group-product-block.owl-carousel .owl-nav .owl-prev, .evo-feature-product-block .evo-group-product-block.owl-carousel .owl-nav .owl-next {
    border: none;
    border-radius: 50%;
    background: #fff;
    color: #5c5c5c;
    cursor: pointer;
    text-align: center;
    z-index: 1;
    -webkit-box-shadow: 0 2px 10px rgba(54, 54, 54, 0.15);
    box-shadow: 0 2px 10px rgba(54, 54, 54, 0.15);
    vertical-align: middle;
    line-height: 0;
    -webkit-transform: scale(1.001);
    transform: scale(1.001);
    -webkit-transition: background 0.15s ease-in-out, opacity 0.15s ease-in-out, color 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
    transition: background 0.15s ease-in-out, opacity 0.15s ease-in-out, color 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
    transition: background 0.15s ease-in-out, opacity 0.15s ease-in-out, transform 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background 0.15s ease-in-out, opacity 0.15s ease-in-out, transform 0.2s ease-in-out, color 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
    overflow: hidden;
    height: 45px;
    width: 45px;
    stroke-width: 1px;
    position: absolute;
    line-height: 40px;
    font-size: 25px; }
  .evo-feature-product-block .evo-group-product-block.owl-carousel .owl-nav .owl-next {
    right: -50px; }
    .evo-feature-product-block .evo-group-product-block.owl-carousel .owl-nav .owl-next.disabled {
      opacity: 0.2 !important; }
    @media (max-width: 1024px) {
      .evo-feature-product-block .evo-group-product-block.owl-carousel .owl-nav .owl-next {
        right: -20px; } }
    @media (max-width: 991px) {
      .evo-feature-product-block .evo-group-product-block.owl-carousel .owl-nav .owl-next {
        right: 0; } }
  .evo-feature-product-block .evo-group-product-block.owl-carousel .owl-nav .owl-prev {
    left: -50px; }
    .evo-feature-product-block .evo-group-product-block.owl-carousel .owl-nav .owl-prev.disabled {
      opacity: 0.2 !important; }
    @media (max-width: 1024px) {
      .evo-feature-product-block .evo-group-product-block.owl-carousel .owl-nav .owl-prev {
        left: -20px; } }
    @media (max-width: 991px) {
      .evo-feature-product-block .evo-group-product-block.owl-carousel .owl-nav .owl-prev {
        left: 0; } }
  .evo-feature-product-block .evo-group-product-block.owl-carousel .owl-nav .owl-prev:hover, .evo-feature-product-block .evo-group-product-block.owl-carousel .owl-nav .owl-next:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  @media (min-width: 768px) {
    .evo-feature-product-block .evo-group-product-block.owl-carousel .owl-dots {
      display: none !important; } }
  @media (max-width: 767px) {
    .evo-feature-product-block .evo-group-product-block.owl-carousel .owl-dots {
      position: relative; }
      .evo-feature-product-block .evo-group-product-block.owl-carousel .owl-dots .owl-dot {
        background-color: #1c1c1c;
        height: 7px;
        width: 7px;
        border-radius: 50%; }
        .evo-feature-product-block .evo-group-product-block.owl-carousel .owl-dots .owl-dot.active {
          height: 7px;
          width: 20px;
          border-radius: 6px !important; } }
  @media (max-width: 767px) {
    .evo-feature-product-block .evo-group-product-block.owl-carousel .owl-nav {
      display: none !important; } }
